<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/JewTourOperatorCss.css">
    <title>{{ title }}</title>
</head>
<body>
<header class="header" role="banner">
    <div class="header_div">
        <a href="/" class="buttons" id="logo">JewTourOperator</a>
    </div>

    <div class="header_div">
        <a href="/" class="buttons" id="home">Главная</a>
        <a href="/listOfTours" class="buttons" id="listOfTours">Список туров</a>
        <a href="/" class="buttons" id="about_as">О нас</a>
    </div>

    <div class="header_div">
        <a href="https://t.me/chatsgpts_bot" class="buttons" id="telegram">Телеграмм: @Chat_GPT</a>
    </div>
</header>

<div id="war"></div>

<div id="div1">
    <div id="div_text">
        <p id="text">У нас ахуенные туры</p>
        <a href="/listOfTours" class="buttons">Список туров</a>
    </div>
</div>
</body>
</html>